.control.has-icons-left .icon,
.control.has-icons-right .icon {
  top: initial !important;
  color: #363636 !important;
}

.input {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
  box-shadow: initial !important;
}
